<html>
<head>
  <title>{{title}}</title>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link href=/dist/css/style.css rel=stylesheet>
  <script type=text/javascript src=/dist/js/main.js></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</head>

<body>
  
  <center><a href="/"><img id="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a0/Mega_Millions_Lottery_logo.svg/640px-Mega_Millions_Lottery_logo.svg.png" /></a></center>
  
<div id="main-wrap">

    
   {{{body}}}
  
  
</div>  
 
</body>
</html>
