 <ul>
    <li>
     <p class="date">Next Draw: 10/29/2018 11:00 EDT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prize: {{prize}} BU</p> 
      
      <span>?</span>
      <span>?</span> 
      <span>?</span> 
      <span>?</span> 
      <span>?</span> 
      <span class="multiplier">?</span>
    </li>
    <li>
      <form style="margin-left:40px;" method="POST" action="/buyTicket">
     <input name="num1" class="number">
     <input name="num2" class="number">
     <input name="num3" class="number">
     <input name="num4" class="number">
     <input name="num5" class="number">
     <input id="num6" name="num6">
     <br> <br>
     <button id="buyBtn">Buy</button>
     </form>
    </li>
    <li>
        <p style="color:black">Current User: buQoi931TCqk4zE8oHXbyQX6xVLjcoLbRk7d</p>
    </li>
  </ul>