 <ul>
   {{#if hasUser}}
    <li>
     <p class="date">Next Draw: 10/29/2018 11:00 EDT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prize: {{prize}} BU</p> 
      
      <span>?</span>
      <span>?</span> 
      <span>?</span> 
      <span>?</span> 
      <span>?</span> 
      <span class="multiplier">?</span>
    </li>
    <li>
      <form style="margin-left:40px;" method="POST" action="/buyTicket">
     <input name="num1" class="number">
     <input name="num2" class="number">
     <input name="num3" class="number">
     <input name="num4" class="number">
     <input name="num5" class="number">
     <input id="num6" name="num6">
     <br> <br>
     <button id="buyBtn">Buy</button>
     </form>
    </li>
    {{else}}
      <li>
      <p class="date">Setup User Info</p>
      <form action="/setUser" method="POST">
        <input name="publicKey" placeholder="public key" type="text" style="width: 450px;font-size: 20px;height: 40px;">
        <input name="privateKey" placeholder="private key" type="password" style="width: 450px;font-size: 20px;height: 40px;">
        <br><button id="setupBtn">Confirm</button>
      </form>
    </li>
    {{/if}}
    <li>
        <p style="color:black">Current User: {{currentUser}}</p>
        <p style="color:black">Current Contract: {{currentContractAddr}}</p>
    </li>
  </ul>